//TASHA
@import 'variables';

#tasha {
	background-color: $white;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	color: $black;

	.intro-container { 
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: calc(100% - 53px);
		padding: 0 53px;

		div.hi-tasha {
			h1,h2 { font-family: helvetica, arial, sans-serif !important; }
			h2 { font-size: 3em; }
			h1 {
				font-size: 9em;
				font-weight: bold;
				line-height: 0.8;
			}
		}

		.col-1,.col-2 { width: calc(50% - 106px)}
		.col-2 { 
			display: flex;
			justify-content: center;
		}
	}

	.writeup { 
		clear: both;
		margin-top: 1vw; 
		font-size: 20px;
		float: left;

		p { 
			width: 80%;
			line-height: 1.3;
		}

		a { 
			color: $pink; 
			transition: .5s ease;
			font-weight: bold;

			&:hover,&:focus { color: darken($pink, 15); }
		}
	}
}