img.preloader-gif { width: 15vw; position: absolute; -webkit-transform: translate(calc(-50% - 9px), -50%); transform: translate(calc(-50% - 9px), -50%); top: 45vh; left: 50%; }

header { background-color: #000; height: 100vh; color: #fff; position: relative; }

@-webkit-keyframes fadein { 0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadein { 0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes fadein-no-delay { 0% { opacity: .1; }
  50% { opacity: .8; }
  100% { opacity: 1; } }

@keyframes fadein-no-delay { 0% { opacity: .1; }
  50% { opacity: .8; }
  100% { opacity: 1; } }

header .scrollDown { position: absolute; bottom: 30px; left: 10%; -webkit-animation: fadein 7s ease-in-out; animation: fadein 7s ease-in-out; }

header .scrollDown a:focus { outline: none; }

header .scrollDown span img { width: 15px; }

@-webkit-keyframes expand { 0% { width: 13vw; }
  100% { width: 24vw; } }

@keyframes expand { 0% { width: 13vw; }
  100% { width: 24vw; } }

@-webkit-keyframes fade { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fade { 0% { opacity: 0; }
  100% { opacity: 1; } }

.hi { position: absolute; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: calc(45.5% + calc(13vw/4.2)); }

.hi img { width: 24vw; -webkit-transition: width 1s ease; transition: width 1s ease; display: block; margin: 0 auto; }

.hi img:nth-of-type(1) { -webkit-animation: expand 4s ease-in-out; animation: expand 4s ease-in-out; }

.hi img:nth-of-type(2) { padding-top: 20px; -webkit-animation: fade 4s ease-in-out; animation: fade 4s ease-in-out; }

#tasha { background-color: #fff; height: 100vh; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #000; }

#tasha .intro-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; width: calc(100% - 53px); padding: 0 53px; }

#tasha .intro-container div.hi-tasha h1, #tasha .intro-container div.hi-tasha h2 { font-family: helvetica, arial, sans-serif !important; }

#tasha .intro-container div.hi-tasha h2 { font-size: 3em; }

#tasha .intro-container div.hi-tasha h1 { font-size: 9em; font-weight: bold; line-height: 0.8; }

#tasha .intro-container .col-1, #tasha .intro-container .col-2 { width: calc(50% - 106px); }

#tasha .intro-container .col-2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#tasha .writeup { clear: both; margin-top: 1vw; font-size: 20px; float: left; }

#tasha .writeup p { width: 80%; line-height: 1.3; }

#tasha .writeup a { color: #FF358B; -webkit-transition: .5s ease; transition: .5s ease; font-weight: bold; }

#tasha .writeup a:hover, #tasha .writeup a:focus { color: #e80063; }

@-webkit-keyframes bounceLeft { 0% { left: -35px; }
  50% { left: -45px; }
  100% { left: -35px; } }

@keyframes bounceLeft { 0% { left: -35px; }
  50% { left: -45px; }
  100% { left: -35px; } }

@-webkit-keyframes bounceRight { 0% { right: -35px; }
  50% { right: -45px; }
  100% { right: -35px; } }

@keyframes bounceRight { 0% { right: -35px; }
  50% { right: -45px; }
  100% { right: -35px; } }

#projects { background-color: #01B0F0; height: 100vh; position: relative; }

#projects h1 { color: #000; position: absolute; font-weight: bold; top: 6vw; left: 6vw; z-index: 111; }

#projects h1 span { text-decoration: none; background-size: auto 23px; background-repeat: repeat no-repeat; background-position: bottom center; padding-bottom: 0px; font-size: 3em; }

#projects h1 .swipe { padding-top: 20px; font-size: 1.5em; display: none; }

#projects .project-container { max-height: 80vh; width: 80%; position: absolute; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 48.5%; }

#projects .project-container:focus { outline: none; }

#projects .project-container .slick-track:focus { outline: none !important; }

#projects .project-container .slick-slide { width: 90%; position: relative; }

#projects .project-container .slick-slide:hover img.desktop { -webkit-filter: brightness(40%); filter: brightness(40%); }

#projects .project-container .slick-slide:hover .info { opacity: 1; }

#projects .project-container .slick-slide img { max-height: 70vh; max-width: 100% !important; margin: 0 auto; -webkit-transition: all .5s ease; transition: all .5s ease; }

#projects .project-container .slick-slide .info { font-family: Europa, Arial, sans serif; color: #fff; position: absolute; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 40%; left: 50%; width: 85%; margin: 0 auto; text-align: center; opacity: 0; -webkit-transition: opacity .3s ease; transition: opacity .3s ease; }

#projects .project-container .slick-slide .info h2, #projects .project-container .slick-slide .info h3 { padding: 10px 0; }

#projects .project-container .slick-slide .info h2 { font-size: 3em; }

#projects .project-container .slick-slide .info h3 { font-size: 1.5em; }

#projects .project-container .slick-slide .info a { -webkit-transition: all .5s ease; transition: all .5s ease; }

#projects .project-container .slick-slide .info a.view-live { font-size: 1.2em; display: block; color: #000; background-color: #fff; border-radius: 5px; width: 140px; padding: 10px; margin: 30 auto; }

#projects .project-container .slick-slide .info a.view-live:hover { background-color: #01B0F0; }

#projects .project-container .slick-slide .info a:last-child { font-weight: bold; }

#projects .project-container button { -webkit-transition: opacity .2s ease-in-out; transition: opacity .2s ease-in-out; }

#projects .project-container button.slick-prev { -webkit-animation: bounceLeft 1s infinite; animation: bounceLeft 1s infinite; }

#projects .project-container button.slick-next { -webkit-animation: bounceRight 1s infinite; animation: bounceRight 1s infinite; }

#projects .project-container ul.slick-dots li button::before { color: #fff; font-size: 10px; opacity: .65; -webkit-transition: color .1s ease-in-out; transition: color .1s ease-in-out; }

#projects .project-container ul.slick-dots li.slick-active button::before { color: #000; opacity: 1; }

#contact { background-color: #AEEE00; height: 100vh; position: relative; }

#contact .content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 90vh; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#contact h1 { color: #000; position: absolute; font-weight: bold; top: 6vw; left: 6vw; }

#contact h1 span { text-decoration: none; background-size: auto 23px; background-repeat: repeat no-repeat; background-position: bottom center; padding-bottom: 0px; font-size: 3em; }

#contact p { color: #000; text-align: center; font-size: 2.5em; font-weight: bold; padding: 50px; }

#contact p span { color: #FF358B; font-weight: normal; background-color: #000; padding: 0px 10px 4px 10px; }

#contact a { color: #000; -webkit-transition: .5s ease; transition: .5s ease; font-size: 26px; }

#contact a:hover, #contact a:focus { color: #01B0F0; }

#contact .social-media { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#contact .social-media ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 14vw; -ms-flex-pack: distribute; justify-content: space-around; }

#contact2 { position: relative; }

#contact2 .content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 90vh; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#contact2 h1 { color: #fff; position: absolute; font-weight: bold; top: 6vw; left: 6vw; }

#contact2 h1 span { text-decoration: none; background-image: -webkit-gradient(linear, left top, left bottom, from(#01B0F0), to(#01B0F0)); background-image: linear-gradient(#01B0F0, #01B0F0); background-size: auto 23px; background-repeat: repeat no-repeat; background-position: bottom center; padding-bottom: 0px; font-size: 3em; }

#contact2 p { color: #fff; text-align: center; font-size: 2.5em; padding: 50px; }

#contact2 p span { color: #FF358B; font-weight: bold; background-color: #fff; padding: 0px 10px 4px 10px; }

#contact2 a { color: #fff; -webkit-transition: .5s ease; transition: .5s ease; font-size: 26px; }

#contact2 a:hover, #contact2 a:focus { color: #AEEE00; }

#contact2 .social-media { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#contact2 .social-media ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 10vw; -ms-flex-pack: distribute; justify-content: space-around; }

footer { background-color: #000; display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; padding: 2em 0 2em 0 !important; }

footer nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

footer nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer nav li { display: inline-block; }

footer nav li a { font-family: "Europa", helvetica, arial, sans-serif; padding: 1rem 1.5rem; font-size: 18px; -webkit-transition: .5s ease; transition: .5s ease; }

footer nav li a:hover, footer nav li a:focus { color: #FF358B; }

footer p { color: #fff; text-align: center; line-height: 1.9em; font-size: 12px; }

footer a { text-align: center; }

footer img { width: 300px; height: 300px; -ms-flex-item-align: center; align-self: center; padding-bottom: 1.5rem; }

footer .social-media { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0.5rem 0.5rem; }

footer .social-media ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

footer .social-media ul li { padding: 1rem 1.5rem; }

footer .social-media ul a { -webkit-transition: .5s ease; transition: .5s ease; }

footer .social-media ul a:hover, footer .social-media ul a:focus { color: #FF358B; }

#nav { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute !important; justify-content: space-around !important; top: 0; z-index: 898; right: 3.27273rem; text-align: center; width: 100vh; height: 53px; -webkit-transform: rotate(-90deg) !important; transform: rotate(-90deg) !important; -webkit-transform-origin: top right; transform-origin: top right; background-color: #000; -webkit-animation: fadein 5s ease-in-out; animation: fadein 5s ease-in-out; }

#nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; width: 65%; -ms-flex-pack: distribute; justify-content: space-around; }

#nav ul li { display: inline-block; position: relative; }

#nav ul li a { text-decoration: none; -webkit-text-decoration-line: none; text-decoration-line: none; -webkit-text-decoration-style: none !important; text-decoration-style: none !important; font-size: 24px; font-family: "Europa", helvetica, arial, sans-serif; -webkit-transition: .5s ease-out; transition: .5s ease-out; color: #fff; line-height: 49px; }

#nav ul li a:hover, #nav ul li a:focus, #nav ul li a .active { border-bottom: 1px solid #FF358B; -webkit-box-shadow: inset 0 -7px 0 #FF358B; box-shadow: inset 0 -7px 0 #FF358B; -webkit-text-decoration-style: #FF358B; text-decoration-style: #FF358B; outline: none; }

span.menu-box, a.menu-link { display: none; }

.menu-box { background-color: #000; height: 53px; width: 53px; position: fixed; top: 0; right: 0; z-index: 899; }

.menu-link { color: #fff; display: inline-block; font-size: 0.95rem; text-transform: uppercase; font-weight: 700; position: fixed; right: 5px; top: 29px; font-family: Europa, Arial, sans serif; z-index: 900; }

.menu-link:before { content: ""; background: #fff; height: 4px; width: 40px; position: absolute; top: -10px; left: 50%; margin: 0 0 0 -20px; display: block; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; z-index: 900; }

.menu-link:after { content: ""; background: #fff; height: 4px; width: 40px; position: absolute; top: -20px; left: 50%; margin: 0 0 0 -20px; display: block; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; }

.menu-link.close:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: -15px; width: 25px; margin: 0 0 0 -13px; }

.menu-link.close:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: -15px; width: 25px; margin: 0 0 0 -13px; }

.menu-open { margin-right: 53px; -webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }

@media screen and (max-width: 1500px) { #contact .social-media ul { width: 30vw; } }

@media screen and (max-width: 1080px) { .intro-container { padding: 0 6% 0 6% !important; }
  .intro-container .writeup { width: 90% !important; }
  .intro-container .writeup p { width: 100% !important; margin-bottom: 5vw !important; }
  .intro-container .headshot { margin: 0 auto !important; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: center; align-self: center; width: 50% !important; } }

@media screen and (max-width: 1025px) { #projects h1 .swipe { display: block; }
  #projects h1 .swipe:after { content: ", tap for info."; } }

@media screen and (max-width: 640px) { header .scrollDown { -webkit-animation: fadein 2.25s ease-in-out; animation: fadein 2.25s ease-in-out; } }

@media screen and (max-width: 550px) { .writeup { margin-top: 0 !important; font-size: 18px !important; }
  .writeup p { margin-top: 5vw !important; }
  nav#nav { right: 0rem; opacity: 1; }
  nav { -webkit-transition: all .3s ease; transition: all .3s ease; }
  nav.show { right: 53px !important; }
  #header a.menu-link { display: block !important; }
  span.menu-box, a.menu-link { display: block; -webkit-animation: fadein 2s ease-in-out; animation: fadein 2s ease-in-out; }
  #contact .social-media ul { width: 50vw; }
  #contact p { line-height: 1.5em; }
  #projects h1 .swipe:after { content: "."; }
  #projects .project-container { height: 70vh; top: 60%; }
  #projects .project-container .slick-arrow { display: none !important; }
  #projects .project-container img.desktop { display: none; }
  #projects .project-container img.mobile { display: block !important; }
  #projects .project-container .slick-slide .info { top: 67%; opacity: 1; }
  #projects .project-container .slick-slide .info h2 { font-size: 2em; }
  #projects .project-container .slick-slide .info h3 { font-size: 1em; }
  span.info.dawg { top: 58%; } }

@media screen and (max-width: 425px) { .intro-container { padding: 0 5% 0 5% !important; }
  .intro-container .writeup { font-size: 16px !important; } }

@media screen and (max-width: 380px) { #tasha { height: 110vh !important; }
  #tasha .writeup { width: 100% !important; }
  #contact p { padding: 35px; }
  #projects .project-container .slick-slide .info h2, #projects .project-container .slick-slide .info h3 { padding: 0 !important; margin: 10px !important; } }

@media screen and (max-width: 360px) { #projects .project-container .slick-slide .info h2 { font-size: 1.5em; padding-top: 10px !important; }
  #contact p { padding: 12px; }
  #contact p:first-child { margin-top: -50px; }
  #contact p span { display: table-row; }
  #contact p span:before, #contact p span:after { content: "\00a0"; }
  #contact .social-media { margin: 20px 0; }
  #contact .social-media ul { padding: 10px 0; }
  #contact .content { height: 85vh; padding-top: 15vh; } }

#single { padding: 75px 150px; min-height: 100vh; background-color: #01B0F0; font-family: Europa, Arial, sans serif; }

#single .row, #single .fullrow { margin: 50px 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#single .row { width: 100%; height: 50vh; }

#single .image { height: 39vh; width: 50%; text-align: center; }

#single .image img { max-width: 100%; max-height: 100%; }

#single .content { width: 50%; color: #fff; font-size: 20px; line-height: 1.7; padding: 20px; }

#single h1 { font-size: 3em; text-align: center; color: #fff; padding: 50px; }

#single .row-1 .content { margin-top: -32px; }

#single .row-1 { padding-top: 0 !important; margin-top: 0 !important; }

#single .row-2 { height: 55vh; }

#single .row-2 .content { width: 50%; text-align: right; }

#single .row-2 .image { height: 55vh; width: 50%; text-align: left; }

#single .fullrow { width: 100%; float: none; clear: both; padding-top: 50px; }

#single .fullrow h2 { font-size: 2.5em; float: none; }

#single .fullrow img { width: 100%; float: none; }

footer#single-footer { clear: both; }

body, html { background-color: #000; }

p, h1 { font-family: Europa, arial, sans-serif !important; }

@font-face { font-family: "Helvetica"; src: url("../fonts/HelveticaNeue.eot?") format("eot"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#Helvetica") format("svg"); }

@font-face { font-family: 'europa'; src: url("../fonts/europa-webfont.eot"); src: url("../fonts/europa-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/europa-webfont.woff2") format("woff2"), url("../fonts/europa-webfont.woff") format("woff"), url("../fonts/europa-webfont.ttf") format("truetype"), url("../fonts/europa-webfont.svg#europaregular") format("svg"); font-weight: normal; font-style: normal; }

a { text-decoration: none; color: #fff; }

/*# sourceMappingURL=../portfolio/styles/maps/main.css.map */
